body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #f1f1f1;
}
.container{
    width: 100%;
    display:flex;
}
.content{
    padding: 20px;
}
#form_section{
    margin:40px 80px;
    width: 650px;
    
}
.lab{
    margin:0px 15px;
}
fieldset{
    margin-top: 30px;

    border-radius: 4px;
    color: #464646;
}
legend{
    font-size: 20px;
}

label{
    margin:10px 0px;
    font-size: 17px;
    color: #919191;
    
}
#scnd label{
    display: block;
    margin: 0px 0px;
}
#username{
    margin-left: 40px;
}
#instname{
    margin-left: 10px;
}
#passyear{
    margin-left: 7px;
}
input{
    padding: 5px 2px;
    border: 1px solid #919191;
    border-radius: 4px;
    margin: 10px 0px;
}

#scnd input{
    margin: 5px 0px;
}
#result_section{
    width: 400px;
    height: 500px;
    margin-top:50px;
    margin-left:30px;
    padding:20px 20px;
    border-radius: 50px;
    border-radius: 0px;
    background: #c7c7c7;
    box-shadow:  5px 5px 10px #7b7b7b, 
             -5px -5px 10px #ffffff;
}

th{
    border: 2px solid #919191;
    font-size: 18px;
}
 td{
    width: 200px;
    padding: 5px 0px;
    font-size: 19px;
    color:red;
    padding-left: 8px;
    border: 2px solid #919191;
}
button{
    font-size: 18px;
    border: 1px solid #919191;
    padding:5px 15px;
    background: #f1f1f1;
    float: right;
    margin-right: 25px;
    border-radius: 3px;
    margin-top:-17px;
}

